#inside {
    height: 400px;
    width: 1024px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}

#menuPic {
  height: 400px;
  width: 1024px;
  background-image: url(images/lotsOfFood.jpg);
  background-repeat: no-repeat;

  background-size: 100% 100%;
  background-position: center;
  margin: auto;
}

#allThe {
  background-image: url(images/allTheLogos.jpg);
  height: 400px;
  width: 1024px;
  background-repeat: no-repeat;

  background-size: 100% 100%;
  background-clip: content-box;
  background-position: center;
  margin: auto;
}
 
#access {
    background-image: url(images/image3.jpg);
    height: 400px;
    width: 1024px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }

  .menuWrapper {
    height: 490px;
    min-width: 400px;
    border: 0px solid #ddd;
    display: flex;
    overflow-x: auto;
  }

  .menuWrapper .menuItem {
    min-width: 230px;
    height: 460px;
    line-height: 30px;
    text-align: center;
    
  }

  .card-title {
    font-weight: bold;
    font-size: 17px;
    height: 60px;
    text-align: center;
    margin: auto;
    width: 190px;
  }

  .card-text {
    font-weight: bold;
    text-align: center;
  }

  .card {
    margin: 50px;
    margin-bottom: 25px;
    width: 450px;
  }

  .card-block {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }

  .card-img-top {
    padding: 10px;
    width: 200px;
    margin: auto;
    width: 200;
    height: 200;
  }

  .card-body {
    /* width: 200px; */
    padding: auto;
    margin: auto;
  }

body {
    background-color: #04ff00;
    background-repeat: no-repeat;
    color: black;
    background-size: cover;
    background-image: linear-gradient(340deg,#15ff00,#ffffff,#ffffff);
    
}

header {
  font-family: montserrat,sans-serif;
    font-style: bold;
    font-size: 30px;
    
    /*color: #F26A8D;*/
    padding-top: 45px;
    
  }

  header img {
    float: left;
    padding-top: 30px;
    padding-left: 150px;
  }

  /* #cart {
    float: right;
    padding-top: 30px;
    padding-right: 150px;
    padding-bottom: 30px;
  } */

  header h1 {
    padding-bottom: 10px;
    /* text-align: center; */

    
  }


  header a {
    padding-left: 40px;
    text-decoration: none;
    
    color: white;
    text-shadow: 0 0 5px #FEB70B;

    /* -webkit-text-stroke: 1px #FEB70B; */
    float: left;
    
    
  }

  header a:hover {
    color: black;
  }

  #link {
    /* float: right;
    padding-right: 150px;
    padding-bottom: 30px; */
    /* border: 2px solid orange;     */
    float: right;
    padding-right: 150px;
    padding-bottom: 20px;
    margin-left: 0px;
  }

  #par {
    font-family: montserrat,sans-serif;
    text-align: left;
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 20px;
  }

h1 {
    font-size: 2em;
    text-align: center;
}


nav {
    text-align: center;
    padding-left: 0px;    
    padding-right: 40px;
  }
  
nav ul {
    list-style-type: none;
  }

  nav ul li {
    font-family: montserrat,sans-serif;
    font-size: 50px;
    font-weight: bold;
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
  }
  nav ul li a {
    text-decoration: none;
    text-shadow: 0 0 5px #04ff00; 
    color: white;
  }
  nav ul li a:link {
    text-shadow: 0 0 5px #04ff00; 
    color: white;
  }
  nav ul li a:hover {
    color: black;
  }

li a {
    display: inline;
    width: 0px;
  }

h1 {
    
  font-family: montserrat,sans-serif;
}

h2 {
  font-family: montserrat,sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 20px;
  clear: left;
}
h2 a {
  text-decoration: none;
  font-size: 50px;
  text-shadow: 0 0 5px #04ff00; 
  color: white;
  padding: 16px;
  border: 2.5px solid #04ff00;
  border-radius: 45px;
}
h2 a:link {
  text-shadow: 0 0 5px #04ff00; 
  color: white;
}
h2 a:hover {
  /* color: black; */
  background-color: #F0F0F0;
  border: 3.5px solid #04ff00;
  border-radius: 45px;
}

h3 {
    
  font-family: montserrat,sans-serif;
  font-size: 30px;
  text-align: center;
}

#ta {
  margin: auto;
}

table {
  font-size: 23px;
  font-family: montserrat,sans-serif;
  font-style: normal;
  border-collapse: collapse;
  margin: auto;
}
th {
  color: #FFFFFF;
  background-color: transparent;
  padding: 20px;
  padding-left: 40px;
}
tr {
  background-color: transparent;
}
td {
  color: white;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 45px;
}

td a {
  text-decoration: wavy;
}

td a:link {
  color: white;
}
td a:visited {
  color: white;
}
td a:hover {
  color: black;
  font-weight: bold;
}

footer {
  font-family: montserrat,sans-serif;
  font-weight: bold;
  color: white;
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  text-align: center;
  clear: left;
}

/* login page css */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: montserrat,sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  margin-bottom: 40px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: montserrat,sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color:#04ff00;;
  width: 100%;
  border: medium solid #FEB70B;
  padding: 15px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #04ff00;;
  text-decoration: none;
}

span {
  color: red;
}

/* Popup container */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */

.popup .popuptext {
  visibility: hidden;
  /* display: none; */
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* for phones and smaller devices */

@media (max-width:601px) {
  /* header {
    padding-left: 75px;
  /* } */
  li a {
    text-align: center;
  } 

  nav ul li {
    font-size: 10px;
    /* display: block; */
    padding-bottom: 40px;
  }

  /* #homebanner {
    background-image: url("images/banners_mobile/home.png");
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #aboutbanner {
    background-image: url("images/banners_mobile/about.png");
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #plushiesbanner {
    background-image: url("images/banners_mobile/plushies.png");
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #figuresbanner {
    background-image: url("images/banners_mobile/figures.png");
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #gamesbanner {
    background-image: url("images/banners_mobile/games.png");
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #accessbanner {
    background-image: url("images/banners_mobile/accessories.png");
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
  } */

  #wrapper {
    min-width: 375px;
    max-width: 600px;
  }
  .row {
    display: flex;
    justify-content: center;
  }
  .row img {
    width: 170px;
    height: 170px;
  }

  /*make options a little more to the left*/
  /* #options {
    padding-right: 50px;
  }
  #options img {
    margin: 10px;
    width: 140px;
    height: 140px;
  }
  .gridcollection {
    gap: 25px;
    grid-template-columns: 280px 280px;
    grid-template-rows: auto;
  }
  .gridcollection img {
    width: 280px;
    height: 280px;
  }
  #iteminfo h1 {
    padding-left: 50px;
    font-size: 35px;
  }
  #iteminfo img {
    width: 400px;
    height: 400px;
  }
  #iteminfo p {
    color: #F59CBB;
    text-overflow: clip;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
  }
  #buy img {
    display: block;
    margin-left: 300px;
    margin-right: auto;
  }
  #socials img {
    margin: 30px;
  } */
  
/* 
  form {
    width: 40%;
    display: grid;
    gap: 1em;
    grid-template-columns: 6em 1fr;
    margin-left: auto;
    margin-right: auto;
  }
  input[type="submit"] {
    grid-column: 2/3;
    width: 9em;
  } */
}

/* midsize devices  */

@media (max-width:1023px) {
  /*GET RID OF DUPLICATE CODE*/
  nav {
    text-align: center;
    padding-left: 0px;
  }
  li a {
    display: inline;
  }

  nav ul li {
    font-size: 30px;
    /* display: block; */
    padding-bottom: 40px;
  }

  /* #socials {
    margin-left: 75px;
    margin-right: 75px;
  }
  #homebanner {
    background-image: url("images/banners/home.png");
    height: 400px;
    width: 1024px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }
  #aboutbanner {
    background-image: url("images/banners/about.png");
    height: 400px;
    width: 1024px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }
  #plushiesbanner {
    background-image: url("images/banners/plushies.png");
    height: 400px;
    width: 1024px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }
  #figuresbanner {
    background-image: url("images/banners/figures.png");
    height: 400px;
    width: 1024px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }
  #gamesbanner {
    background-image: url("images/banners/games.png");
    height: 400px;
    width: 1024px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }
  #accessbanner {
    background-image: url("images/banners/accessories.png");
    height: 400px;
    width: 1024px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }
  #wrapper {
    min-width: 1024px;
    width: 80%;
  }
  #aboutinfo p {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    padding-left: 100px;
    padding-right: 100px;
    margin: 50px;
  }
  #bluemoon {
    margin-left: 50px;
  }
  #pinkmoon {
    margin-right: 50px;
  } */

  .row {
    display: flex;
    justify-content: center;
  }
  .row img {
    width: 250px;
    height: 250px;
  }
  .rowsocial {
    display: flex;
    justify-content: center;
  }
  #options img {
    margin: 20px;
    width: 250px;
    height: 250px;
  }
  .gridcollection {
    gap: 30px;
    grid-template-columns: 180px 180px 180px 180px 180px;
    grid-template-rows: auto;
  }
  .gridcollection img {
    align-content: center;
    width: 180px;
    height: 180px;
    border-radius: 20%;
  }

  /* #iteminfo h1 {
    padding-left: 50px;
    font-size: 50px;
  }
  #iteminfo img {
    display: inline;
    margin-left: 20px;
    width: 500px;
    height: 500px;
  }
  #iteminfo p {
    font-size: 25px;
  }
  #buy img {
    float: right;
    margin-right: 150px;
  } */

}